# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
myenv/


# Jupyter
.ipynb_checkpoints/
*.ipynb

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/

# Testing
.pytest_cache/

# Docker


venv/
env/
.venv/

*.pkl
*.joblib
*.h5
*.pt
*.pth
models/